extends ../template.pug

block content
  .layout
    nav.navigation Nav
    .section.dynamic(data-dynamic-html="<article class='teaser'>Teaser</article>")
      .teaser.skeleton
    .section.dynamic(data-dynamic-html="<article class='banner'>Banner</article>")
      .banner.skeleton
    .section.dynamic(data-dynamic-html="<article class='teaser'>Teaser</article>")
      .teaser.skeleton
    .section.dynamic(data-dynamic-html="<article class='teaser'>Teaser</article>")
      .teaser.skeleton
    footer.footer Footer

block scripts
  script.
    document.addEventListener('DOMContentLoaded', function(event) {
      const dynamicElements = document.getElementsByClassName('dynamic');

      [...dynamicElements].forEach((element) => {
        setTimeout(() => {
          element.innerHTML = element.dataset.dynamicHtml;
        }, 750)
      })
    });