extends ../template.pug

block content
  ul
    li
      a(href="/static.html") Static
    li
      a(href="/dynamic-with-skeletons.html") Dynamic - skeletons
    li
      a(href="/dynamic-with-skeletons.html") Dynamic - skeletons - 50%
    li
      a(href="/dynamic-with-skeletons.html") Dynamic - skeletons - 75%
    li
      a(href="/dynamic-with-skeletons.html") Dynamic - skeletons - 125%
    li
      a(href="/dynamic-with-skeletons-and-empty-container-top.html") Dynamic - skeletons and empty container top
    li
      a(href="/dynamic-with-skeletons-and-empty-container-middle.html") Dynamic - skeletons and empty container middle
    li
      a(href="/dynamic-with-skeletons-and-empty-container-lower.html") Dynamic - skeletons and empty container lower
    li
      a(href="/dynamic-without-skeletons.html") Dynamic - without skeletons
    li
      a(href="/dynamic-with-skeletons-and-personalized.html") Dynamic - skeletons and personalized
    li
      a(href="/dynamic-hidden-until-loaded.html") Dynamic - hidden until loaded