extends ../template.pug

block content
  .layout
    nav.navigation Nav
    .section
      .teaser Teaser
    .section
      .banner Banner
    .section
      .teaser Teaser
    .section
      .teaser Teaser
    footer.footer Footer