html
  head
    title CLS POC
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="CLS POC")
    style(type="text/css").
      html, body {
        padding: 0;
        margin: 0;
      }
      .navigation {
        height: 200px;
        background: #e4e4e4;
        margin-bottom: 48px;
      }
      .footer {
        height: 200px;
        background: #e4e4e4;
      }
      .layout {
        width: 1000px;
        margin: 0 auto;
      }
      .teaser {
        background: #63786a;
      }
      .teaser::after {
        content: '';
        display: block;
        padding-top: 66.666667%;
      }
      .banner {
        background: #222;
      }
      .banner::after {
        content: '';
        display: block;
        padding-top: 20%;
      }
      .teaser, .banner, .navigation, .footer {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .navigation, .footer {
        color: black;
      }
      .section {
        margin-bottom: 24px;
      }
      .skeleton {
        background: #f3f3f3;
      }
      .hidden-loaded {
        display: none;
      }
  body
    block content
    block scripts